<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="driver1" class="First.SimpleBMVDriver"/>
	<bean id="driver2" class="First.SimpleBMVDriver">
		<constructor-arg value="Roman" />
	</bean>
	<bean id="driver3" class="First.SimpleBMVDriver">
		<property name="name" value="Вася"/>
	</bean>
	<bean id="car1" class="First.Porshe"/>
	<bean id="profidriver" class="First.ProfiDriver">
		<property name="name" value="Галя"/>
		<property name="car" ref="car1"/>
	</bean>
		<bean id="superdriver" class="First.SuperDriver">
		<property name="name" value="Пєтя"/>
		<property name = "cars">
		<list>
			<ref bean="car1"/>
			<bean class="First.Bentley"/>
			<bean class="First.Porshe"/>
		</list>
		</property>
	</bean>
</beans>
